 <h2 class="mt-3">New Book</h2>

  <%= form_with model: book, local:true do |f| %>

   <div class="form mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control" %>
   </div>
   <div class="form mb-3">
      <%= f.label :opinion %>
      <%= f.text_area :body, class:"form-control" %>
   </div>
   <div class="actions mb-3">
      <%= f.submit 'Create Book', class:"btn btn-sm btn-success" %>
   </div>

  <% end %>
