<h2>User info</h2>
  <%= render 'users/user', user: @user %>

<h1>New Book</h1>

<%= render 'books/book', book: @book %>


<div class="post-body">

 <h2>Book detail</h2>

 <table class='table'>
 <tr>
  <td>

  </td>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <td>
    <%= @book.title %>
  </td>

  <td>
    <%= @book.body %>
  </td>


 <%= link_to "Destroy",book_path(@book), method: :delete %>

 <%= link_to "Update", edit_book_path(@book) %>


 </tr>
 </table>

</div>